#navigationBar {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 100;
  height: var(--navigationBar-height);
  width: 100vw;
  background-color: lightgrey;
}

.navigationBar-content {
  display: flex;
  width: 100%;
  padding: 0 1rem;
}

.navigationBar-brand {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 768px) {
  .navigationBar-content {
    width: 80%;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {
  .navigationBar-content {
    width: 60%;
  }
}