.app-section-1 {
  min-height: 100vh;
  background-color: lightgrey;
}

.app-section-2 {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 5rem 0;
}

.app-section-3 {
  min-height: 100vh;
  background-color: lightgrey;
}